<% provide(:title, "About") %>
<h1>About</h1>
<p>This is a story manager project by Stephanie Kram.</p>

<p>Update history:
<ul>
<li>Feb 18, 2013: Rails generated, static pages created.</li>
</ul>
</p>
