<li>
<p><%= author_status.status %></p>
<p><i>Posted <%= time_ago_in_words(author_status.created_at) %> ago.</p>
<p><% if current_author?(author_status.author) %>
<%= link_to "delete", author_status, method: :delete, data: {confirm: "You sure?"}, title: author_status.status %>
<% end %>
</li>