<li>
<%= link_to(raw("%{image}<p><div class='name'>%{username}</div> | %{location} | %{projects}</p><p><i>%{summary}...</i></p>" % {image: image_tag("smiley-face.jpg", alt: "image"), username: author.username, location: author.location, projects: pluralize(author.projects.length, 'project'), summary: author.summary }), author) %>

<% if current_author && current_author.admin? && !current_author?(author) %>
	<div class="delete"><%= link_to "delete", author, method: :delete, data: {confirm: "Are you sure you want to delete " + author.username + "?"} %></div>
<% end %>

</li>