<% provide(:title, "Projects") %>

<h1>Projects</h1>

<p>by <%= link_to @author.username, @author %></p>

<% if current_author?(@author) %>
	<p><div class="newProj"><%= link_to "New Project", new_project_path %></div></p>
<% end %>

<ul class="indexList">
<% if @projects.any? %>
<%= render @projects %>
<% end %>
</ul>

<div class="pag"><%= will_paginate @projects %></div>