<% if @author.errors.any? %>
<p>The form contains <%= pluralize(@author.errors.count, "error") %>.</p>
<ul><% @author.errors.full_messages.each do |msg| %>
<li>* <%= msg %></li>
<% end %>
</ul>
<% end %>