<li>
<%= link_to(raw("<span class='name'>") + project.name + raw("</span> by ") + project.author.username + raw("<br><div class='projTime'>") + time_ago_in_words(project.updated_at) + raw("</div><br>") + project.elevator, project) %>
</li>
