<% provide(:title, "All projects") %>
<h1>All projects</h1>

<div class="pag"><%= will_paginate %></div>

<ul class="indexList">
<%= render @projects %>
</ul>

<div class="pag"><%= will_paginate %></div>