<% provide(:title, "Projects") %>

<h1>Projects</h1>

<p>by <%= @author.username %></p>

<p><%= link_to "New Project", new_project_path %></p>

<ul>
<%= render @projects %>
</ul>

<div class="pag"><%= will_paginate %></div>
