<li>
<%= link_to chapter.title, project_chapter_path(chapter.project, chapter) %>
</li>

<% if current_author?(chapter.project.author) %>
	<div class="delete"><%= link_to "delete", [chapter.project, chapter], method: :delete, data: {confirm: "Are you sure you want to delete " + chapter.title + "?"} %></div>
<% end %>