// Place all the styles related to the Authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* DISPLAY AUTHOR INDEX PAGE */

#authorIndex {
list-style-type:none;
}

#authorIndex li {
border: black 1px solid;
border: solid #cccccc 1px;
box-shadow:0px 0px 3px #cccccc;
height:100px;
color: black;
width:85%;
margin:auto;
margin-bottom:15px;
position:relative;
}

#authorIndex li a {
color:black;
text-decoration:none;
}

#authorIndex li:hover {
box-shadow:0px 0px 3px blue;
}

#authorIndex li .author {
margin-left:10px;
margin-top:10px;
}

#authorIndex img {
max-height:75px;
max-width:75px;
float:left;
margin:10px;
padding-right:15px;
border-right: #999999 1px solid;
}

#authorIndex .name {
font-weight:bold;
font-size:20px;
display:inline;
padding:5px;
}

#authorIndex .location {
font-size:15px;
}

#authorIndex .delete {
display:inline-block;
float:right;
}

#authorIndex .delete a {
font-variant: small-caps;
text-decoration:none;
position:relative;
color:#333333;
border: solid #999999 1px;
box-shadow:0px 0px 3px #cccccc;
padding:5px;
}

#authorIndex .delete a:hover {
box-shadow:0px 0px 3px red;
}

/* DISPLAY AUTHOR SHOW PAGE */

.authorNav ul{
list-style-type:none;
}

.authorNav li{
display:inline;
}

.authorName li a {
text-decoration:none;
color:black;
}

.statusIndex {
}

.statusIndex ul{
list-style-type:none;
}

.statusTime{
font-size:12px;
font-style:italic;
margin-left:20px;
margin-top:-5px;
}

.status {
font-size:16px;
margin-top:10px;
}