// Place all the styles related to the Authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.statusIndex {
}

.statusIndex ul{
list-style-type:none;
}

.statusTime{
font-size:12px;
font-style:italic;
margin-left:20px;
margin-top:-5px;
}

.status {
font-size:16px;
margin-top:10px;
}